@page
@model Cyberpolygon.Pages.Configuration.CreateModel

@{
    ViewData["Title"] = "Добавить конфигурацию";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Путь к файлу autounattend.xml</label>
                <input asp-for="Configuration.AutounattendPath" class="form-control" />
                <span asp-validation-for="Configuration.AutounattendPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Название виртуальной машины</label>
                <input asp-for="Configuration.VmTitle" class="form-control" />
                <span asp-validation-for="Configuration.VmTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Имя пользователя</label>
                <input asp-for="Configuration.AdminUsername" class="form-control" />
                <span asp-validation-for="Configuration.AdminUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input asp-for="Configuration.AdminPassword" class="form-control" />
                <span asp-validation-for="Configuration.AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Количество ядер</label>
                <input asp-for="Configuration.CoresNumber" class="form-control" />
                <span asp-validation-for="Configuration.CoresNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>ОЗУ (МБ)</label>
                <input asp-for="Configuration.RamNumber" class="form-control" />
                <span asp-validation-for="Configuration.RamNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Размер жеского диска (ГБ)</label>
                <input asp-for="Configuration.DiskSizeNumber" class="form-control" />
                <span asp-validation-for="Configuration.DiskSizeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Название ISO файла</label>
                <input asp-for="Configuration.IsoFilename" class="form-control" />
                <span asp-validation-for="Configuration.IsoFilename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Операционная система</label>
                <select asp-for="Configuration.OS" class="form-control">
                    <option value="other" selected>Other</option>
                    <option value="wxp">Windows XP</option>
                    <option value="w2k">Windows 2000</option>
                    <option value="w2k3">Windows Server 2003</option>
                    <option value="w2k8">Windows Server 2008</option>
                    <option value="wvista">Windows Vista</option>
                    <option value="win7">Windows 7</option>
                    <option value="win8">Windows 8</option>
                    <option value="win10">Windows 10</option>
                    <option value="l24">Linux 2.4</option>
                    <option value="l26">Linux 2.6+</option>
                    <option value="solaris">Solaris</option>
                </select>
                <span asp-validation-for="Configuration.OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.prox" type="checkbox" class="form-check-input" />
                <label>3prox-test.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.zip" type="checkbox" class="form-check-input" />
                <label>7zip.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.ziptest" type="checkbox" class="form-check-input" />
                <label>7zip-test.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.zipmsi" type="checkbox" class="form-check-input" />
                <label>7zipmsi-test.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.cobian" type="checkbox" class="form-check-input" />
                <label>Cobian-Backup-test.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.folder" type="checkbox" class="form-check-input" />
                <label>folder.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.ftp" type="checkbox" class="form-check-input" />
                <label>FTP.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.port80" type="checkbox" class="form-check-input" />
                <label>Open_Port-80.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.port445" type="checkbox" class="form-check-input" />
                <label>Open_Port-445.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.port3389" type="checkbox" class="form-check-input" />
                <label>Open_Port-3389.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.ports804438080" type="checkbox" class="form-check-input" />
                <label>Open_Ports-80-443-8080.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.ports3389445" type="checkbox" class="form-check-input" />
                <label>Open_Ports-3389-445.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.ports3389445443" type="checkbox" class="form-check-input" />
                <label>Open_Ports-3389-445-443.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.pass" type="checkbox" class="form-check-input" />
                <label>pass.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.postgresql" type="checkbox" class="form-check-input" />
                <label>PostgreSQL.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.powershell" type="checkbox" class="form-check-input" />
                <label>Powershell.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.veeam" type="checkbox" class="form-check-input" />
                <label>veean-agent.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.hotfix7" type="checkbox" class="form-check-input" />
                <label>hotfix7-KB3102810.bat</label>
            </div>
            <div class="form-group">
                <input asp-for="Configuration.hotfix812" type="checkbox" class="form-check-input" />
                <label>hotfix812-KB2842230.bat</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}